.sensorDetails {
    padding: 10px;
}

.totalMessageWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.totalMessage h6 {
    font-weight: 600px;
}

.totalMessage small {
    font-size: 12px;
    color: #555;
}

.downTimeAmount h4 {
    margin-bottom: 0px !important;
    line-height: 0.2;
    margin-top: 10px;
}

.card-body {
    padding: 28px 33px;
}

.activityWrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px
}

.activityWrapper .row {
    width: 100%
}

.backButton {
    background-color: #ddd;
    padding: 4px;
    font-size: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-right: 10px;
}