.activityWrapper .activity {
    font-size: 14px;
}

.activityWrapper .activity .activity-item .activite-label {
    color: #888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
}

.activityWrapper .activity .activity-item .activite-label::before {
    content: "";
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
}

.activityWrapper .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0;
}

.activityWrapper .activity .activity-item .activity-content {
    padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activityWrapper .activity .activity-item:first-child .activite-label::before {
    top: 5px;
}

.activityWrapper .activity .activity-item:last-child .activity-content {
    padding-bottom: 0;
}

.activity-content span.dateOrTime {
    /* position: relative; */
    /* right: 15px; */
}